html body {
	font-family: 'Poppins', sans-serif;
	color: 	#343434;
	background-color: #944e6c;
  }
  
  html nav, a {
	background-color: #f3f4ed;
	color: #211e1e;
	width: auto;
	height: 50px;
	overflow: hidden;
  }
  
  html nav a {
	background-color: #f3f4ed;
	color: #211e1e;
	width: auto;
	height: 50px;
	float: left;
	text-align: center;
	padding: 20px 30px 10px 30px;
	text-decoration: none;
	font-size: 17px;
  }
  
  html nav a:hover {
	background-color: #f9d1cd;
	color: #211e1e;
  }

  #logo {
	width: 50px;
	vertical-align: middle;
	padding-right: 10px;
  }
  
  .right {
	float: right;
  }
  
  .end {
	margin-right: 50px;
  }
  
  .start {
	margin-left: 50px;
  }
  
  html h1 {
	font-weight: 900;
	font-size: 6rem;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 40px;
  }

  html h2 {
	font-weight: 300;
	font-size: 3rem;
	letter-spacing: 0.1em;
	text-align: inheritg;
	padding: 40px;
	margin-top: 30px;
  }
  
  html h3 {
	font-weight: 900;
	font-size: 3rem;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 40px;
  }

  html h4 {
	font-weight: 500;
	font-size: 3rem;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 40px;
  }
  
  text {
	font-family: 'Times New Roman', Times, serif;
	color: #211e1e;
  }
  
  data {
	font-family: Arial, Helvetica, sans-serif;
	color: #df6a5d;
  }
  
  img {
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 50%;
  }
  
  div {
	background-color: #ffeaf0
	;
	width: 30%;
  }
  
  .about {
	width: 50%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
  }

  #addLocation {
	  width: 850px;
	  text-align: center;
	  margin-left: auto;
	  margin-top: 40px;
	  margin-right: auto;
	  font-weight: 600;
	  padding-top: 10px;
	  padding-bottom: 10px;
  }

input[type="text"],
input[type="number"],
input[type="number"],
input[type="number"],
textarea,
fieldset {
  padding-bottom: 10px;
  width : 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

  .Locations {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
  }
   
  .branches {
	  text-align: center;
	  margin-top: 20px;
  }

  article ul {
	  white-space: pre;

  }

  article ul li {
	  white-space: pre;
	  font-size: 30px;
	  
  }

  article p {
	  font-size: 40px;
	  color: #f3f4ed;

  }

  table, td, th {
	background-color: #fff5ee;
	border: solid #000000 1px;
	border-collapse: collapse;
	padding: 5px;
  }
  
  #cookieData {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
  }
  
  #info {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-color: #f9d1cd;
	width: 780px;
	padding: 20px;
	text-align: center;
  }
  
  #info p {
	display: inline;
  }
  
  .strong {
	font-weight: 600;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
  }

  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
  }
  
  .price {
	color: grey;
	font-size: 22px;
  }
  
  .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  .card button:hover {
	opacity: 0.7;
  }
  .tShirt :hover {
	  opacity: 0.7;
  }
 
  .topalign {
	text-justify: top;
  }

   */